<!doctype html>
<html>
<head>
<title>School Page</title>
</head>
<body>
<h2>About the school subjects</h2>
    <p>This is a page where you can search for school courses, add them to your list, or delete them. </p>
</body>
</html>