<!doctype html>
<html>
<head>
<title>School Page</title>
</head>
<body>

<h2>Search, add, or delete a course from your schedule</h2>
<form class="form-horizontal" role="form"
 action="/process?form=courses" method="POST">
 <input type="hidden" name="_csrf" value="{{csrf}}">
     <div class="form-group">
     <label for="fieldCourse" class="col-sm-2 control-label">Course Name</label>
         <div class="col-sm-4">
         <input type="text" class="form-control" required
         id="fieldName" name="name">
         </div>
     </div>
     <div class="form-group">
     <label for="fieldTeacher" class="col-sm-2 control-label">Teacher</label>
         <div class="col-sm-4">
         <input type="text" class="form-control" required
         id="fieldName" name="name">
         </div>
     </div>
    <div class="form-group">
     <label for="fieldID" class="col-sm-2 control-label">ID Number</label>
        <div class="col-sm-4">
        <input type="text" class="form-control" required
                 id="fieldName" name="name">
         </div>
     </div>

    <p><div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-default">Search</button>
        <button type="submit" class="btn btn-default">Add</button>
        <button type="submit" class="btn btn-default">Delete</button>
        </div>
    </div> 
</form>

    
    
</body>
</html>