
<!doctype html>
<html>
<head>
<title>School Subjects</title>
</head>
<body>
{{{body}}}
<footer>
  <p>made by: Gracie Bikes</p>
  <p>Contact information: <a href="mailto:grace@ugraphix.com">
  grace@ugraphix.com</a>.</p>
</footer>
</body>
</html>