<!doctype html>
<html>
<head>
<title>School Page</title>
</head>
<body>
<h1>About the school subjects</h1>
<p>Your big class for today is:</p>
<blockquote>{{course}}, with  {{teacher}}, code: {{code}}</blockquote>
</body>
</html>