<!doctype html>
<html>
<head>
<title>School Page</title>
</head>
<body>

<!doctype html>
<html>
<head>
<title>School Page</title>
</head>
<body>
<h2>About the school subjects</h2>
<p>Results</p>
<blockquote>{{course}}, with  {{teacher}}, code: {{code}}</blockquote>
</body>
</html>